/* Общие настройки страницы */
body {
    font-family: 'Arial', sans-serif; 
    background-color: #FFB6C1;       
    margin: 0;                       
    padding: 20px;                   
    text-align: center;              
}

/* Заголовок */
h1 {
    color: #333;                     
    font-size: 2.5em;                
    margin-bottom: 10px;             
}

/* Описание (профессия) */
p:nth-child(2) {
    color: #666;                     
    font-size: 1.2em;                
    font-weight: bold;               
}

/* Блок с контактами */
p:nth-child(3) {
    color: #007bff;                  
    font-size: 1em;
}

/* Стили для ссылки (а) */
a {
    color: white; 
    background-color: #800000; 
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px; 
}

a:hover {
    text-decoration: underline;
    background-color: #600000;
    color: white;
}


.education-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.education-item h3,
.education-item h4,
.education-item p {
    margin: 0;
    padding-bottom: 10px; 
    text-align: left; 
    padding-right: 10px; 
}

.dates {
    flex: 1;
    text-align: left;
    position: relative;
    margin-right: 10px; 
}
.dates p {
    padding-left: 100px; 
}

.dates::after {
    content: "";
    width: 1px;
    background-color: #800000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%; 
    margin-left: 10px;
    z-index: 1;
}

.education-item h3::after,
.education-item h4::after,
.education-item p::after {
    content: "";
    width: 100%;
    border-bottom: 1px solid #800000;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.title {
    flex: 1;                          
    text-align: right;                
}

.title h3,
.title h4 {
    font-weight: bold; 
    margin: 0;
    color: #333;
}

.center-image {
    display: block;           
    margin: 0 auto;           
    max-width: 100%;          
    height: auto;             
}

.nav-link {
    background-color: #800000; 
    color: white;               
    border: none;              
}

.nav-link:hover {
    background-color: #600000; 
}



